<h2 class="heading">projects</h2>
<div class="main-container">
  <div class="container" *ngFor="let project of projects">
    <div class="wrapper">
      <div class="banner-image">
        <img [src]="'https://portflio-backend-uiv7.onrender.com/uploads/' + project.photo" alt="Project Image" />
      </div>
      <h1>{{ project.name }}</h1>
      <p>{{ project.title }}</p>
      <p>{{ project.description }}</p>
    </div>
    <div class="button-wrapper">
      <!-- GitHub Button -->
      <button class="btn outline" (click)="openGitHub(project.link)">GITHUB</button>
    </div>
  </div>
</div>
